.SearchBar {
	background: rgba(0,0,0, .2);
	display:flex;

	margin: 80px;

	border-radius: 5px;
	overflow:hidden;
	justify-content: left;
	align-items: center;


	transition: all .1s ease-in-out;

}

.SearchBar.focused {

	background: rgba(0,0,0, .4);
}

.SearchBar.focused input {

	width: 600px;
}

.SearchBar svg {

	margin: 20px 30px;
}

.SearchBar input {
	flex: 1;
	background: none;
	border:0;
	color: #fff;
	font-size: 3rem;
	margin: 10px;
	outline: none;
	width: 200px;

	transition: all .1s ease-in-out;
}